body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
}
section{
    height: 600px;
    display: flex;
}
.fix-gap {
    margin-top: 0;
    margin-bottom: 0;
  }

.header{
    background-image:url(images/top-banner.png) ;
    background-repeat: no-repeat;
    padding-bottom: 100px;

}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
h1{
    font-size: 50px;
}
.half-width img{
    width: 100%;
}
.orange-color{
    color: orange;
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg,rgb(241, 118, 96),rgb(250, 50, 14));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    display: inline-block;
    margin-top: 20px;
}
.anchor-button:hover{
    background: linear-gradient(to right,  rgb(241, 53, 20), rgb(233, 138, 122));
}

h2{
    font-size: 40px;
}
.dream-big{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.experience div{
    box-shadow: 4px 6px 30px gray;
    height: 80%;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(240, 123, 27), rgb(49, 20, 219));
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(236, 226, 82), rgb(32, 245, 43));
    border-image-slice: 1;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

